### Submit 2 examples for each module.

1.while loop

2.for loop

3.if else

4.if elif else

5.user defined functions without for loop, if condition

6.user defined functions with for loop

7.user defined functions with for loop and if condition

8.break

9.continue

10.for loop with in operator

11.for loop with if statement

12.for loop with not in operator

13.if with in operator

14.if with not in opearator

DAILY TASK - 3 Come up with one example for all Data Structures.

DAILY TASK - 4 List comprehensions

### While loop

In [1]:
count=1
while count<=5:
    print(count)
    count+=1

1
2
3
4
5

In [6]:
count=0
while count<=6:
    count+=1
    print("hello!")

hello!
hello!
hello!
hello!
hello!
hello!
hello!

In [3]:
i=0
str= "Calender"
while i<len(str):
    print(str)
    i+=1

Calender
Calender
Calender
Calender
Calender
Calender
Calender
Calender

### For loop

In [4]:
colors= ['yellow','red','white','black','maroon']

In [5]:
for i in colors:
    print(i)

yellow
red
white
black
maroon

In [14]:
list= {12,23,34,45,56,78}

In [7]:
for i in list:
    print(i)

34
23
56
12
45
78

#### If  Statement

In [4]:
number=int(input("Enter your number : "))
if number > 0:
    print('Number is positive.')

Enter your number : 67
Number is positive.

In [5]:
num= int(input("Enter your number: "))
if num >=5 and num <=15:
    print("number is between 5 and 10")

Enter your number: 10
number is between 5 and 10

### If- Else Statement

In [7]:
num1= int(input("Enter your number: "))
if num1 > 0:
    print('Positive number')

else:
    print('Negative number')

Enter your number: -2
Negative number

In [8]:
num2= int(input("Enter your number: "))
if num2 >=0:
    print("Greater than zero")
else:
    print("Negative")

Enter your number: -78
Negative

### If...Elif...Else Statement

In [11]:
num_1= int(input("Enter your number: "))
if num_1 > 0:
    print("Positive number")

elif num_1 == 0:
    print('Zero')
else:
    print('Negative number')

Enter your number: 0
Zero

In [12]:
num_1= int(input("Enter your number: "))
if num_1 > 0:
    print("Positive number")

elif num_1 == 0:
    print('Zero')
else:
    print('Negative number')

Enter your number: -20
Negative number

### Break and Continue statement

In [14]:
for i in range(7):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [24]:
for i in range(4):
    if i==3 :
        break
    print(i)

0
1
2

In [39]:
num = 0

while num < 10:
    num += 1
    
    if num == 3:
        break

    print(num)

1
2

In [37]:
num = 0

while num < 10:
    num += 1
    
    if (num % 2) == 0:
        continue

    print(num)

1
3
5
7
9

### Data Structures

### List, Tuple, Set , Dictionary

#### List- Ordered collection of data
      It is mutable
      Duplicates are allowed

In [40]:
list= ["phy","chem","maths","electronics","eng"]

In [41]:
print(list[3])

electronics

In [42]:
print(list[1:3])

['chem', 'maths']

In [48]:
list.append("history")

In [49]:
list

['phy', 'chem', 'maths', 'electronics', 'eng', 'history', 'history']

In [51]:
list.pop()

'history'

In [52]:
list

['phy', 'chem', 'maths', 'electronics', 'eng', 'history']

In [53]:
list.remove("chem")
list

['phy', 'maths', 'electronics', 'eng', 'history']

### Tuple

1.Immutable

2.Duplicates are allowed

In [55]:
tup= (1,2,3,4,5,[2,4,6,8])
tup1= ('arun','yog','chan','subh')

In [58]:
print(tup)

(1, 2, 3, 4, 5, [2, 4, 6, 8])

In [59]:
print(tup1)

('arun', 'yog', 'chan', 'subh')

In [60]:
print(type(tup1))

<class 'tuple'>

In [61]:
print(type(tup))

<class 'tuple'>

In [62]:
print(tup[5])

[2, 4, 6, 8]

In [63]:
print(tup1[2])

chan

### Dictionary

#### It is a Key-value pair

In [64]:
tour_details={"ram":"mumbai",
              "shyam":"delhi",
              "shagun":"blr",
              "gungun":"kerala"}

In [66]:
tour_details.keys()

dict_keys(['ram', 'shyam', 'shagun', 'gungun'])

In [67]:
tour_details.values()

dict_values(['mumbai', 'delhi', 'blr', 'kerala'])

In [69]:
tour_details["ram"]

'mumbai'

In [70]:
tour_details["gungun"]

'kerala'

In [71]:
for key,value in tour_details.items():
    print(key,value)

ram mumbai
shyam delhi
shagun blr
gungun kerala

### Set

1. Sets are used to store multiple items in a single variable.

2. A set is a collection which is unordered, unchangeable*, and unindexed.

In [74]:
set= {"Ram","shyam",12,28,(34,45,56)}

In [75]:
print(set)

{'shyam', 'Ram', 12, 28, (34, 45, 56)}

In [76]:
print(len(set))

5

In [77]:
print(type(set))

<class 'set'>